@media screen and (max-width: 998px) {
    header {
        background: var(--ligth-white);
    }
}

@media screen and (min-width: 1000px) {
    .home {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
}